.product-page-hero {
  background-image: url(../assets/productPageHero-4.jpg);
  object-fit: cover;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-page-products {
  padding: 10px;
  max-width: 1024px;
  margin: auto;
}

.product-page-products h3 {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.product-item {
  width: 100%;
  padding: 20px;
}

.product-item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.product-item-action-icons {
  padding: 5px;
  border-bottom: 1px solid var(--var-light-grey);
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

.product-item-action-icons a i {
  color: var(--var-light-grey);
  padding: 3px;
  font-size: 1.5em;
  transition: 0.3s;
}
.product-item-action-icons a i:hover {
  color: var(--var-dark-color);
  font-size: 1.6em;
}

.product-item .product-category {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
}

.product-item .product-price {
  font-weight: 500;
  font-size: 1.1em;
}

.product-page-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
  gap: 10px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
  .product-item {
    width: calc(100% / 2);
  }

  .product-item img {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .product-item {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 990px) {
  .product-page-hero {
    margin: 0 30px;
  }

  .product-item {
    width: calc(100% / 4);
  }

  .product-item img {
    height: 300px;
  }
}
